{{define "Withdrawal"}}

{{template "head"}}

<body class="bg-white text-muted">
    <div class="container">
        <div class="row vh-100 justify-content-center align-items-center">
            <div class="card rounded-0" style="max-width: 800px;">
                <div class="row g-0 p-5 justify-content-center">
                    <h2 class="text-muted text-center">Saque</h2>
                    <br>
                    <div class="col-md-12">
                        {{if .IsError}}
                            <div class="alert alert-danger" role="alert">
                                {{.ErrorMessage}}
                            </div>
                        {{else}}
                            <h4 class="text-muted text-center">R$ {{.Amount}},00</h4>
                            <br><br>
                            <ul>
                                {{range $banknote, $quantity := .Data}}
                                    <li>{{ $quantity }} Cédula(s) de R$ {{ $banknote }},00</li>
                                {{end}}
                            </ul>
                        {{end}}
                        <a href="/" class="btn btn-primary mb-2">Voltar</a>
                    </div>
                </div>
            </div>            
        </div>
    </div> 
</body>
</html>
{{end}}

